<div id="cms_header">
	<div class="cms_header_in">
		<a href="/cms/" title="Site Integrated Zest"><div class="cms_name"><span>Sintez</span>СMS</div></a>
		<div class="cms_user_head">Вы вошли в CMS как <strong>#user_name#</strong> <a class="cms_toggle #frontend_status#" href="#" title="Инструменты администратора">&nbsp;</a> <a class="cms_clear_cache" href="#" title="Очистить кэш">Очистить кэш</a> | <a href="/cms/">Перейти в CMS</a> | <a href="/cms/profile">Профиль</a> | <a href="/cms/exit">Выйти</a></div>
	</div>
</div>